.toggle {
  background-color: var(--foreground);
  border: 1px solid var(--background);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  width: 40px;

  .circle {
    background-color: var(--background);
    border-radius: 50%;
    height: 16px;
    width: 16px;
  }
}

.on {
  flex-direction: row-reverse;
}
