@use "variables" as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 64px;
}

.logo {
  font-size: 20vw;
  font-weight: $semibold;
  border-top: 1px solid var(--logo-border);
  border-bottom: 1px solid var(--logo-border);

  @media (min-width: 1216px) {
    font-size: 243.8px;
    width: 1216px;
  }
}
